/*

This file should have all template elements that are specific
	to the techgrind scaffolding / general website template.

*/

/* Style Guide
	body color:   #333
	
	// Lets define some font-size rules
	base size: 10px;
*/

/* FONT ADDED
----------------------------------------- */
@font-face {
	font-family: 'LatoLight';
	src: url('../font/lato/Lato-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'LatoLightItalic';
	src: url('../font/lato/Lato-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'LatoBold';
	src: url('../font/lato/Lato-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'LatoBlack';
	src: url('../font/lato/Lato-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'LatoRegular';
	src: url('../font/lato/Lato-Regular.ttf') format('truetype');
}


/* GENERAL
----------------------------------------- */
/* Prevent any object from being highlighted upon touch event */
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
/* Set global font size */
* { font-size:10px; }
/* Prevent link focus outline, eg: little dotted line */
a:focus { outline: 0; }

html, body {
	height: 100%;
	width: 100%;
	padding:0px;
	margin:0px;
	padding-top:20px;
	font-size: 10px;
	font-family: 'LatoLight';
	color: #333;
	background: #bab9b9;
}
[class*="span"] {
	padding:0px;
	margin:0px;
}
a {
	color: #2ea4d4;
}
/* This class will clear the element float */
.clearfix:after {
	clear: both;
	content: "";
	display: block;
}

/* This class makes textarea placeholder color to be #cfcfcf */
textarea::-webkit-input-placeholder{ 
   color: #cfcfcf;
}
textarea:-moz-placeholder{
   color: #cfcfcf;
}
textarea::-moz-placeholder{
   color: #cfcfcf;
}
textarea:-ms-input-placeholder{
   color: #cfcfcf;
}

/* This class makes the element text unselectable - ie: in text-buttons */
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* NAVBAR-TOP
----------------------------------------- */
.tg-navbar-top {
	position: fixed;
	z-index: 999;
	height: 40px;
	width: inherit;
	background-color: #e8e9ed;
	top: 0px;
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
}
.tg-navbar-top-search{
	margin-left: 30px;
	color: #a7a9ab;
	cursor: pointer;
}
.tg-navbar-top-search i{
	font-size: 2em;
}
.tg-navbar-top-search i:hover{
	color: #858689;
}
.tg-navbar-top-icon{
	text-align: center;
	color: #f1634d;
}
.tg-navbar-top-icon i{
	font-size: 2.4em;
}
.tg-navbar-top-logo {
	width: 200px;
	height: 40px;
	background: url('../img/logo.png') top left no-repeat;
	display: block;
	float: left;
}
.tg-navbar-top-settings {
	color: #a7a9ab;
	float: right;
	margin-right: 30px;
	font-family: 'LatoBold';
	line-height: 2em;
}
.tg-navbar-top-settings i {
	float: left;
	margin-right: 6px;
	font-size: 1.7em
}
.tg-navbar-top-settings p {
	color: #a7a9ab;
	float: left;
	margin-right: 15px;
	font-size: 1.4em;
}
.tg-navbar-top-settings-img {
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-position: center;
	float: right;
	position: relative;
	bottom: 6px;
}
/* END > NAVBAR-TOP
----------------------------------------- */

/* NAVBAR-LEFT --> CHANGE TO MENU
----------------------------------------- */
.tg-navbar-main{
	height: 60px;
	background: #fff;
	position: fixed;
	width: inherit;
	top: 60px;
	z-index: 999;
}

.isOpen{
  max-height:100px;
}
.isClosed{
  max-height:0;
}

.tg-navbar-left-trigger-button{
	width: 160px;
	height: 60px;
	color: #fff;
	background: #f1634d;
	cursor: pointer;
	float: left;
}
.tg-navbar-left-trigger-button:hover{
	opacity: 0.9;
}
.tg-navbar-left-trigger-button i {
	font-size: 2em;
	margin-left: 20px;
	margin-right: 10px;
	height: 58px;
	line-height: 58px;
}
.tg-navbar-left-trigger-button span {
	font: 1.5em 'LatoBold';
	text-transform: uppercase;
}

.tg-navbar-right-trigger-button {
	width: 60px;
	height: 60px;
	background: #141414;
	cursor: pointer;
	float: right;
}
.tg-navbar-right-trigger-button:hover {
	opacity: 0.9;
}
.tg-navbar-right-trigger-button i {
	font-size: 2em;
	color: #fff;
	margin-left: 33%;
	margin-top: 33%;
	position: relative;
}

.tg-menu-overlay {
	position: fixed;
	top: 0;
	z-index: 1001;
	width: 200px;
	height: 100%;
	background: #bab9b9;
	-moz-transform: translateX(-200px);
	-webkit-transform: translateX(-200px);
	-o-transform: translateX(-200px);
	-ms-transform: translateX(-200px);
	transform: translateX(-200px);
}
/* style everything in tg-menu, by styling an element of tg-menu */
.tg-menu {
	position: fixed;
	top: 0;
	z-index: 1000;
	overflow: visible;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.tg-menu.collapse {
	height: 100% !important;
	-moz-transform: translateX(-200px);
	-webkit-transform: translateX(-200px);
	-o-transform: translateX(-200px);
	-ms-transform: translateX(-200px);
	transform: translateX(-200px);
}
.tg-menu.in.collapse {
	-moz-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	-o-transform: translateX(0px);
	-ms-transform: translateX(0px);
	transform: translateX(0px);
}
.tg-menu i[class*="fa"],
.tg-menu i[class^="fa"] {
	width: 30px;
	float: left;
}
.tg-menu b[class*="fa"],
.tg-menu b[class^="fa"] {
	width: 30px;
	margin-left: 10px;
}
.tg-menu-slidebar {
	width: 200px;
	height: 100%;
	background: #141414;
}
.tg-tools-overlay {
	position: fixed;
	float: right;
	top: 0;
	z-index: 1001;
	width: 200px;
	height: 100%;
	background: #bab9b9;
	margin-left: 1200px;
}
.tg-tools {
	position: fixed;
	top: 0;
	z-index: 1000;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.tg-tools.collapse {
	height: 100% !important;
	margin-left: 1200px;
}
.tg-tools.in.collapse {
	-moz-transform: translateX(-200px);
	-webkit-transform: translateX(-200px);
	-o-transform: translateX(-200px);
	-ms-transform: translateX(-200px);
	transform: translateX(-200px);
}
.tg-tools-slidebar {
	width: 200px;
	height: 100%;
	background: #141414;
}
.tg-tools i[class*="fa"],
.tg-tools i[class^="fa"] {
	width: 30px;
	float: left;
}

.tg-navbar-left {
	text-align: left;
	list-style: none;
	width: 170px;
	margin-left: 30px;
	padding-top: 90px;
	z-index: 999;
}
.tg-navbar-left a {
	display:inline-block;
	width: 100%;
	height:100%;
	line-height:100%;
	vertical-align:middle;
	cursor:pointer;
	text-decoration:none;
}
.tg-navbar-left li {
	padding: 0px;
	margin: 0px;
	width: 170px;
	height: 100%;
	line-height: 60px;
	overflow: visible;
}
.tg-navbar-left li:hover
[class*="fa"],
.tg-navbar-left li:hover
[class^="fa"],
.tg-navbar-left li:hover p {
	color: #ec6552;
}
.tg-navbar-left li.active i, .tg-navbar-left li.active p {
	color: #ec6552;
}
.tg-navbar-left li i {
	font-size: 2em;
	height: 60px;
	line-height: 60px;
	color: #ffffff;
	display:inline;
}
.tg-navbar-left li p {
	font: 1.4em 'LatoBold';
	text-transform: uppercase;
	margin: 0px;
	padding: 0px;
	margin-left: 5px;
	color: #ffffff;
	display: inline;
	line-height: 61px;
}
/* Sub-Menu */
.tg-menu-submenu {
	display:none;
}
.tg-menu-submenu li {
	display:inline;
	margin-left: 10px;
}

/* OLD submenu
.dropdown:hover .tg-dropdown-menu{
	display: block;
}
.tg-dropdown-menu{
	position: absolute;
	top: 0;
	left: 170px;
	min-width: 200px;
	width: auto;
	background: #1c1c1c;
	display: none;
}
.tg-dropdown-menu:hover{
	display: block;
}
.tg-dropdown-menu li.sub-menu{
	list-style: none;
	color: #fff;
	min-width: 200px;
	width: auto;
}
.tg-dropdown-menu li:hover i{
	color: #ec6552;
}
.tg-dropdown-menu li:hover p{
	color: #ec6552;
}
.tg-dropdown-menu .sub-menu{
	margin-left:20px;
}

/*-- NO USE ANYMORE
.dropdown-menu, .dropdown-menu ul, .dropdown-menu li {
	padding: 0px;
	margin: 0px;
	left: 170px;
	top: 0px;
	background: #2a2a2a;
	color: #fff;
}
.dropdown-menu [class^="icon-"],
.dropdown-menu [class*=" icon-"] {
	margin-right: 5px;
	margin-left: 5px;
}
.dropdown-menu li.sub-menu {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	border: 0px;
}
.dropdown-menu li.sub-menu a {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	color: #333;
	background: #ddd;
	font-weight: bold;
	vertical-align: middle;
	cursor: pointer;
}
.dropdown-menu li.sub-menu:hover a {
	color: #fff;
	background: #444;
}
/* Create Dropdown-On-Hover 
.dropdown:hover .dropdown-menu {
	display: block;
}
.dropdown:after .dropdown-menu {
	display: none;
}*/


/* END > NAVBAR-LEFT
----------------------------------------- */

/* MAINTABS
----------------------------------------- */
/* this class is the main-page tabs that load plugin pages in them */
.tg-maintabs {
	display: inline-block;
	color: #000;
	margin: 0 1em 0 1em;
	cursor: pointer;
}

.nav-tabs>.active>a{
	color: #f1634d;
	border: none;
  border-bottom: 2px solid #f1634d;
}
.nav-tabs{
	position: fixed;
	top: 60px;
	z-index: 999;
	margin-left: 160px;
	border-bottom: none;
}
.nav-tabs li{
	height: 58px;
	border-right: solid 1px rgba(0,0,0,0.3);
}
.nav-tabs li a{
	font: 1.4em 'LatoBold';
	color: #000;
	line-height: 58px;
	padding-top: 0px;
	padding-bottom: 0px;
	border: none;
	margin-right: 0px;
	text-transform: uppercase;
}
.nav-tabs li a:hover{
	border: none !important;
	background: none !important;
	border-bottom: 2px solid #f1634d !important;
	color: #f1634d !important;
}


/* END > MAINTABS
----------------------------------------- */

/* MAINPAGE
----------------------------------------- */
/* these are the overall styles used in outlining each mainpage (container pages, eg: home, events, resources, products, profiles) */
.tg-main-container {
	background: #e7e9ed;
	padding-top: 100px;
	padding-bottom: 30px;
}
.tg-mainpage h1 {
	float: left;
	font: 2.4em 'LatoBlack';
}
.tg-mainpage-button {
	float: right;
	position: relative;
	top: 5px;
}
.tg-mainpage-button i {
	font-size: 1.6em;
	float: left;
	margin-right: 25px;
	line-height: 42px;
	cursor: pointer;
}
.tg-mainpage-button span {
	font: 1.125em 'LatoBlack';
	margin-left: 8px;
}
/* END > MAINPAGE
----------------------------------------- */


/* FOOTER
----------------------------------------- */
.footer-container{
	background: #fff;
}
.tg-footer {
	margin-top: 20px;
}
.tg-footer a {
	margin-right: 15px;
	text-decoration: none;
	float: left;
	color: #333;
	font-size: 1.4em;
}
.tg-footer-social {
	float: right;
	position: relative;
}
.tg-footer-social i {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 26px 26px;
	text-align: center;
	color: #fff;
	background: #333;
	font-size: 1.286em;
	line-height: 28px;
}

/* END > FOOTER
----------------------------------------- */


/* -----------------------------------------
	RESPONSIVE DESIGN
----------------------------------------- */
/* Landscape phones and down */
@media (max-width: 480px) {
	.tg-navbar-top .span4{
		width: 48.93617021276595% !important;
		float: left;
	}
	.tg-navbar-left-trigger-button{
		width: 78%;
	}
	.tg-navbar-right-trigger-button{
		width: 22%;
	}
	.tg-navbar-top-settings{
		margin-right:5px;
	}
	.tg-navbar-top-icon{
		display: none !important;
	}
	.tg-navbar-top-search{
		margin-left:15px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body {
		padding: 2%;
		width: auto;
		height: auto;
	}
	.tg-maintabs{
		margin: 0 1em 0 1em;
	}
	.tg-navbar-top, .tg-navbar-main{
		width: 96%;
	}
	.tg-navbar-top .span4{
		width: 31.914893617021278%;
	}
	.tg-tools-overlay{
		margin-left:96% !important;
	}
	.tg-tools.collapse {
		margin-left:96% !important;
	}
	.tg-main-container{
		padding-top: 110px;
	}
	.nav-tabs{
		display: none;
	}
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
	.row-fluid [class*="span"]{
		margin-left: 2.127659574468085%;
		float: left;
	}
}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
	.main-menu {
		clear:both;
	}
	.main-menu ul {
		margin: 0px;
		padding: 0px;
	}
	.main-menu li {
		display: block;
		height: 50px;
		border-right: 1px dotted #DCDCDC;
		line-height: 50px;
		padding: 0px;
		vertical-align: middle;
	}
	.tg-tools-overlay{
		margin-left:724px;
	}
	.tg-tools.collapse {
		margin-left:724px;
	}
	.nav-tabs{
		margin-left: 140px;
	}
}
@media (min-width: 981px) and (max-width: 1200px) {
	.tg-tools-overlay{
		margin-left:940px;
	}
	.tg-tools.collapse {
		margin-left:940px;
	}
	.nav-tabs{
		margin-left: 125px;
	}
}