/*

This file should have all template elements that are specific
	to the techgrind scaffolding / general website template.

*/

/* Style Guide
	body color:   #333
	
	// Lets define some font-size rules
	base size: 10px;
*/

/* FONT ADDED
----------------------------------------- */
@font-face {
	font-family: 'LatoLight';
	src: url('../font/lato/Lato-Light.ttf') format('truetype');
}
@font-face {
	font-family: 'LatoLightItalic';
	src: url('../font/lato/Lato-LightItalic.ttf') format('truetype');
}
@font-face {
	font-family: 'LatoBold';
	src: url('../font/lato/Lato-Bold.ttf') format('truetype');
}
@font-face {
	font-family: 'LatoBlack';
	src: url('../font/lato/Lato-Black.ttf') format('truetype');
}
@font-face {
	font-family: 'LatoRegular';
	src: url('../font/lato/Lato-Regular.ttf') format('truetype');
}


/* GENERAL
----------------------------------------- */
/* Prevent any object from being highlighted upon touch event */
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }
/* Set global font size */
* { font-size:10px; }
/* Prevent link focus outline, eg: little dotted line */
a:focus { outline: 0; }

html, body {
	height: 100%;
	width: 100%;
	padding:0px;
	margin:0px;
	/* font-size: 62.5%; /* this change the base font-size to 10px in order to easily manage font size with em */
	font-size: 10px; /* no ^^, <--- this changes the font-size to 10px....percentages base off DPI resolution //efraim */
	font-family: 'LatoLight';
	color: #333;
	background: #bab9b9;
}
[class*="span"] {
	padding:0px;
	margin:0px;
}
a {
	color: #2ea4d4;
}
/* This class will clear the element float */
.clearfix:after {
	clear: both;
	content: "";
	display: block;
}

/* This class makes textarea placeholder color to be #cfcfcf */
textarea::-webkit-input-placeholder{ 
   color: #cfcfcf;
}
textarea:-moz-placeholder{
   color: #cfcfcf;
}
textarea::-moz-placeholder{
   color: #cfcfcf;
}
textarea:-ms-input-placeholder{
   color: #cfcfcf;
}


/* This class makes the element text unselectable - ie: in text-buttons */
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* NAVBAR-TOP
----------------------------------------- */
.tg-navbar-top {
	height: 40px;
	background-color: #fff;
	top: 0px;
	margin: 0px;
	padding: 0px;
	padding-top: 20px;
}
.tg-navbar-top i {
	float: right;
	font-size: 1.7em;
	line-height: 25px;
}
.tg-navbar-top-logo {
	width: 200px;
	height: 40px;
	background: url('../img/logo.png') top left no-repeat;
	display: block;
	float: left;
}
.tg-navbar-top-settings {
	color: #999;
	float: right;
	font-family: 'LatoBold';
	line-height: 2em;
}
.tg-navbar-top-settings i {
	float: left;
	margin-right: 6px;
	font-size: 1.7em
}
.tg-navbar-top-settings p {
	color: #2ea4d4;
	float: left;
	margin-right: 15px;
	font-size: 1.4em;
}
.tg-navbar-top-settings-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 40px 40px;
	float: right;
	position: relative;
	bottom: 10px;
}

/* END > NAVBAR-TOP
----------------------------------------- */

/* NAVBAR-LEFT
----------------------------------------- */

.tg-navbar-left {
	position: fixed;   /* turn on this one in real page */
	text-align: center;
	top: 120px;
	width: 50px;
	z-index: 999;
}
.tg-navbar-left i {
	font-size: 2.3em;
	width: 50px;
	height: 50px;
	color: #999999;
	line-height: 50px;
}
.tg-navbar-left .active i {
	background: #333;
	color: #e7e9ed;
}
.tg-navbar-left i:hover {
	background: #333;
	color: #e7e9ed;
}

/* END > NAVBAR-LEFT
----------------------------------------- */

/* MAINTABS
----------------------------------------- */
/* this class is the main-page tabs that load plugin pages in them */
.tg-maintabs {
	float: left;
	position: relative;
	margin: 66px 0 0 0;
}

.tg-maintabs li {
	display: inline-block;
	font: 1.8em 'LatoRegular';
	color: #000;
	padding: 18px 20px;
	margin: 0;
	cursor: pointer;
}

.tg-maintabs-active {
	font-family: 'LatoBlack' !important;
	background: #e7e9ed;
}
/* END > MAINTABS
----------------------------------------- */

/* FOOTER
----------------------------------------- */
.tg-footer {
	margin-top: 20px;
}
.tg-footer a {
	margin-right: 15px;
	text-decoration: none;
	float: left;
	color: #333;
	font-size: 1.4em;
}
.tg-footer-social {
	float: right;
	position: relative;
	bottom: 10px;
}
.tg-footer-social i {
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 26px 26px;
	text-align: center;
	color: #fff;
	background: #333;
	font-size: 1.286em;
	line-height: 28px;
}

/* END > FOOTER
----------------------------------------- */

/* MAINPAGE
----------------------------------------- */
/* these are the overall styles used in outlining each mainpage (container pages, eg: home, events, resources, products, profiles) */
.tg-main-container{
	background: #e7e9ed;
}
.tg-mainpage h1 {
	float: left;
	font: 2.4em 'LatoBlack';
}
.tg-mainpage-button {
	float: right;
	position: relative;
	top: 5px;
}
.tg-mainpage-button i {
	font-size: 1.6em;
	float: left;
	margin-right: 25px;
	line-height: 42px;
}
.tg-mainpage-button i span {
	font: 1.125em 'LatoBlack';
	margin-left: 8px;
}
/* END > MAINPAGE
----------------------------------------- */


/* -----------------------------------------
	RESPONSIVE DESIGN
----------------------------------------- */
/* Landscape phones and down */
@media (max-width: 480px) {
	body {
		padding: 2%;
		width: auto;
		height: auto;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
	.main-menu {
		clear:both;
	}
	.main-menu ul {
		margin: 0px;
		padding: 0px;
	}
	.main-menu li {
		display: block;
		height: 50px;
		border-right: 1px dotted #DCDCDC;
		line-height: 50px;
		padding: 0px;
		vertical-align: middle;
	}
}