/*

This file should have all template elements that are specific to the discussion pages.

*/

/* Discussion Page Title */

.discussion-page-title h1 {
	float: left;
	font: 2.4em 'LatoBlack';
}

.discussion-page-title-button {
	float: right;
	position: relative;
	top: 7px;
}

.discussion-page-title-button div {
	display: inline-block;
	padding: 0 12px;
	margin: 0;
	cursor: pointer;
}

.discussion-page-title-button i {
	font-size: 1.6em;
	float: left;
	line-height: 42px;
}

.discussion-page-title-button i span{
	font: 1.125em 'LatoBlack';
	margin-left: 8px;
}

/* ------------------------------------------------- */

/* Filter Selector */

.discussion-page-filter-button-selected {
	color: #fff;
    background: #333;
}

.discussion-page-filter {
	position: relative;
	width: 100%;
    background: #333;
    color: #2ea4d4;
}

.discussion-page-filter-content {
	margin: 30px;
	margin-left: 20%;
}

.discussion-page-filter-content ul {
	float: left;
	padding-bottom: 25px;
}

.discussion-page-filter-all-column {
	width: 20%;
}

.discussion-page-filter-category-column {
	width: 60%;
}

.discussion-page-filter-content li {
	display: inline-block;
	width: 33%;
	margin: 0;
	padding: 0;
}

.discussion-page-filter-all-column li {
	width: 100%;
}

.discussion-page-filter-content li span {
    font: 1.6em 'LatoRegular';
    cursor: pointer;
    line-height: 1.6em;
}

.discussion-page-filter-content li i.fa { /* for checked category */
    width: 22px;
    font-size: 1.6em;
}

/* ------------------------------------------------- */
/* New Discussion */

.discussion-page-new-button-selected {
	color: #2ea4d4;
}

.discussion-page-new-post {
	margin-left: 50px;
}

.discussion-page-new-post-container{
	margin-top: 20px;
	margin-right: 70px;
}
.discussion-page-new-post-user-image{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60px 60px;
	float: left;
	position: relative;
}
.discussion-page-new-post-post{
	margin-bottom: 20px;
	background: #fff;
	margin-left: 80px;
	padding: 10px 15px 10px 20px;
	position: relative;
	-webkit-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
	-moz-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
	-ms-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
	-o-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
	filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
}
.discussion-page-new-post-post:before { /* this class draw the triangle at the left of the post */
	content: "";
	width: 0;
	height: 0;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-right: 10px solid #fff;
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 21px;
	left: -10px;
}
.discussion-page-new-post-postbox select{
	font: 1.4em 'LatoRegular';
	color: #999;
	border: 0;
	-webkit-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
	-moz-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
	-ms-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
	-o-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
	filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
	padding: 10px;
	width: 320px;
	height: 40px;
	margin-top: 10px;
}
.discussion-page-new-post-postbox input[type="text"]{
	font: 2.0em 'LatoBlack';
	color: #333;
	border: none;
	margin: 10px 0;
	resize: none;
	overflow: hidden;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding-left: 0px;
}
.discussion-page-new-post-postbox textarea{
	font: 1.6em 'LatoLight';
	color: #333;
	border: none;
	margin-bottom: 0px;
	line-height: 24px;
	resize: none;
	overflow: hidden;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding-left: 0px;
}
.discussion-page-new-post-postbox-post-button{
	padding: 11px 24px;
	margin-right: 5px;
	margin-bottom: 10px;
	color: #fff;
	background: #333;
	font: 1.4em 'LatoBold';
	cursor: pointer;
	float: right;
}
.discussion-page-new-post-postbox-post-button:hover{
	background: #2ea4d4;
}

/* ------------------------------------------------- */
/* Discussion Box
   (modified from search-page-result-box in tg-search.css) */

.discussion-page-box-area{
	overflow: hidden;
}
.discussion-page-box{
	background: #fff;
	margin-top: 20px;
	margin-bottom: 10px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	position: relative;
}
.discussion-page-box-content{
	margin: 20px;
	margin-top: 10px;
	height: 150px; /* older height-170px */
	/* padding-top: 20px;*/
}
.discussion-page-box-category{
	font: 1.4em 'LatoBold';
	color: #2ea4d4;
	text-transform: uppercase;
	margin-top: 20px;
	margin-left:20px;
}
.discussion-page-box-content h1{
	margin-top: 5px;
	font: 2.4em 'LatoBlack';
	overflow: hidden;
	max-height: 120px;
}
.discussion-page-box-meta{
	color: #cfcfcf;
	font-family: 'LatoRegular';
	line-height: 20px;
	position: absolute;
	left: 20px;
	bottom: 20px;
}
.discussion-page-box-meta i{
	font-size: 2em;
	float: left;
	margin-right: 12px;
}
.discussion-page-box-meta i span{
	margin-left: 5px;
	font: 0.7em 'LatoRegular';
	position: relative;
	bottom: 2px;
}

/* ------------------------------------------------- */
/* Discussion Detail */

.discussion-detail-page-title{ 
	font-family: 'LatoLight';
	color: #2ea4d4;
	margin-left: 100px;
	font-size: 1em;
	margin-bottom: 30px;
}
.discussion-detail-page-title h1{ 
	font: 2.4em 'LatoBlack';
	color: #333;
}
.discussion-detail-page-category{
	font: 1.4em 'LatoBold';
    color: #2ea4d4;
    text-transform: uppercase;
}
.discussion-detail-page-reply {
	margin-left: 20px;
}
.discussion-detail-page-reply-user-image{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 60px 60px;
	float: left;
	position: relative;
}
.discussion-detail-page-reply-post-answer{
	margin-bottom: 30px;
	background: #fff;
	margin-left: 80px;
	padding: 10px 15px 15px 20px;
	position: relative;
	-webkit-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
	-moz-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
	-ms-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
	-o-filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
	filter: drop-shadow(0px 1px 2px rgba(0,0,0,0.25));
}
.discussion-detail-page-reply-post-answer:before { /* this class draw the triangle at the left of the post */
	content: "";
	width: 0;
	height: 0;
	border-bottom: 10px solid transparent;
	border-top: 10px solid transparent;
	border-right: 10px solid #fff;
	font-size: 0;
	line-height: 0;
	position: absolute;
	top: 21px;
	left: -10px;
}
.discussion-detail-page-reply-header h1{
	font: 1.8em 'LatoBlack';
	float: left;
	margin-right: 10px;
}
.discussion-detail-page-reply-meta{
	float: left;
	margin-top: 10px;
	left: 20px;
	bottom: 5px;
}
.discussion-detail-page-reply-meta i{
	float: left;
	margin-right: 5px;
	color: #cfcfcf;
	font-size: 2em;
}
.discussion-detail-page-reply-meta p{
	float: left;
	color: #cfcfcf;
	font: 1.3em 'LatoRegular';
	line-height: 20px;
	margin-left: 0px;
}
.discussion-detail-page-reply-postbox p{
	margin-right: 10px;
	font: 1.6em 'LatoLight';
	line-height: 24px;
	margin-left: 0px;
}
.discussion-detail-page-reply-postbox a{
	font-size: 1em;
}

/* ------------------------------------------------- */
/* Popover User Profile */

.discussion-page-popup-profile {
	background: #333;
	width: 220px;
	padding: 10px;
	text-align: center;
	-webkit-filter: drop-shadow(0px 1px 8px rgba(0,0,0,0.5));
	-moz-filter: drop-shadow(0px 1px 8px rgba(0,0,0,0.5));
	-ms-filter: drop-shadow(0px 1px 8px rgba(0,0,0,0.5));
	-o-filter: drop-shadow(0px 1px 8px rgba(0,0,0,0.5));
	filter: drop-shadow(0px 1px 8px rgba(0,0,0,0.5));
}

.discussion-page-popup-profile-user-image{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 80px 80px;
	display: block;
	margin-left: 70px;
	margin-top: 20px;
}

.discussion-page-popup-profile h2 {
	color: #fff;
	font: 1.8em 'LatoBold';
}

.discussion-page-popup-profile p {
	color: #999;
	font: 1.4em 'LatoRegular';
	margin-bottom: 5px;
}

.discussion-page-popup-profile-icon {
	width: 100%;
	color: #666;
	border-top: 1px solid #666;
	margin-top: 10px;
	padding-top: 10px;
}

.discussion-page-popup-profile-icon i {
	font-size: 2em;
}

/* ------------------------------------------------- */
/* Discussion Detail Sidebar */

.discussion-detail-page-sidebar {
	width: 160px;
}

.discussion-detail-page-post-reply-button {
	margin-left: 25px;
	cursor: pointer;
}

.discussion-detail-page-post-reply-button i {
	font-size: 1.6em;
	line-height: 42px;
}

.discussion-detail-page-post-reply-button i span{
	font: 1.125em 'LatoBlack';
	margin-left: 8px;
}

/* -------------Responsive Design-------------
--------------FOR discussion_articles-------------------
*/
/* Landscape phones and down */
@media (max-width: 480px) {
	body {
		padding: 2%;
		width: auto;
		height: auto;
	}
	.tg-main-container .span10.offset1{
		width: 100% !important;
	}
	.discussion-page-box-area .span4{
		width: 100% !important;
		padding-right: 10px;
	}
	.discussion-page-new-post {
	display: none;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body {
		padding: 2%;
		width: auto;
		height: auto;
	}
	.discussion-page-box-area .span4{
		width: 48.61878453038674%;
		float: left;
	}
	.discussion-page-box.span4:nth-child(2n) {
 		margin-left : 1.5%;
	}
}

@media (max-width: 980px) {
	.discussion-page-box-area .span4{
		width: 48.61878453038674%;
	}
	.discussion-page-box.span4:nth-child(2n + 1) {
 		margin-left: 0px;
	}
}
@media (min-width: 981px) {
	.discussion-page-box.span4:nth-child(3n + 4) {
		margin-left: 0px;
	}
}