/*

This file should have all template elements that are specific to search pages.
Examples...
Document viewer:
http://ngtg.techgrind.asia:8000/#/resources/docs
Media viewer:
http://ngtg.techgrind.asia:8000/#/resources/media
Teamspeak controller:
http://ngtg.techgrind.asia:8000/#/resources/teamspeak
TechGrind Partners & Membership pages:
http://ngtg.techgrind.asia:8000/#/partners
http://ngtg.techgrind.asia:8000/#/members
(members page not live yet)

*/

/*----- FIX SPAN4 PROBLEM FOR CONTENT BOX -------*/
/*-----------------------------------------------*/
.search-page-result-box.span4:nth-child(3n + 4) {
  margin-left : 0px;
}
/*

/* CSS1 - SEARCH AREA
--------------------------------------------------------- */
.page-search-search-area textarea{
	font: 3.6em 'LatoRegular';
    color: #333;
    border: none;
    margin-bottom: 0px;
    resize: none;
    overflow: hidden;
    width: 100%;
    padding-left:0px;
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

/* CSS2 - RESULT AREA
--------------------------------------------------------- */

.search-page-result-category-area{
	margin-bottom: 28px;
}
.search-page-result-category-selected{
	font: 1.6em 'LatoBold';
	color: #333;
	margin-right: 26px;
	text-decoration: none;
	cursor: pointer;
}
.search-page-result-category{
	font: 1.6em 'LatoBold';
	color: #2ea4d4;
	margin-right: 26px;
	text-decoration: none;
	cursor: pointer;
}
.search-page-result-category-selected:hover{
	color: #333;
	text-decoration: none;
}
.search-page-result-category:hover{
	color: #2ea4d4;
	text-decoration: none;
}

/*result box*/
.search-page-result-box{
	background: #fff;
	margin-bottom: 30px;
	-webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.25);
	position: relative;
}
.search-page-result-box-content{
	margin: 20px;
	margin-top: 10px;
	height: 140px;
	/*margin: 20px;
	height: 140px;*/
}
.search-page-result-box-category{
	font: 1.4em 'LatoBold';
	color: #2ea4d4;
	text-transform: uppercase;
	margin-top: 20px;
	margin-left:20px;
}
.search-page-result-box-content h1{
	margin-top: 2px;
	font: 2.4em 'LatoBlack';
	overflow: hidden;
	max-height: 86px;
}
.search-page-result-box-meta{
	color: #cfcfcf;
	font-family: 'LatoRegular';
	line-height: 20px;
	position: absolute;
	left: 20px;
	bottom: 20px;
}
.search-page-result-box-meta i{
	font-size: 2em;
	float: left;
	margin-right: 12px;
}
.search-page-result-box-meta i span{
	margin-left: 5px;
	font: 0.7em 'LatoRegular';
	position: relative;
	bottom: 2px;
}
.search-page-result-box-meta-point{
	margin-left: 3px;
	float: left;
	color: #ffffff;
	background: #cfcfcf;
	padding: 0 12px;
	border-radius: 12px;
	font-size: 1.1em;
}
/* -------------Responsive Design-------------
--------------FOR widget_search.html-------------------
*/
/* Landscape phones and down */
@media (max-width: 480px) {
	body {
		padding: 2%;
		width: auto;
		height: auto;
	}
	.tg-main-container .span10.offset1{
		width: 100% !important;
	}
	.page-search-search-area .span4{
		width: 100% !important;
		padding-right: 10px;
	}
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body {
		padding: 2%;
		width: auto;
		height: auto;
	}
	.page-search-search-area .span4{
		width: 48.61878453038674%;
		float: left;
	}
	.search-page-result-box.span4:nth-child(2n) {
 		margin-left : 1.5%;
	}
}

@media (max-width: 980px) {
	.page-search-search-area .span4{
		width: 48.61878453038674%;
	}
	.page-search-search-area .span4:nth-child(2n + 1) {
 		margin-left : 0px;
 	}
	.search-page-result-box.span4:nth-child(2n + 1) {
 		margin-left: 0px;
	}
	.search-page-result-box.span4:nth-child(2n) {
 		margin-left : 1.5%;
	}
	/*.search-page-result-box.span4:nth-child(3n + 4) {
  		margin-left : 0px;
	}*/
}
@media (min-width: 981px) {
	.search-page-result-box.span4:nth-child(3n + 4) {
  		margin-left : 0px;
	}
}
