<div class="container">
	<div class="row-fluid tg-navbar-top clearfix">
		<div class="span10 offset1">
      <a class="tg-navbar-top-logo" href="http://techgrind.asia"></a>
      <i class="fa fa-lock"></i>
      <div class="tg-navbar-top-settings">
        <i class="fa fa-envelope"></i>
        <p>{{ user().mail }}8</p>
        <i class="fa fa-bell"></i>
        <p>{{ user().notification }}24</p>
        <div class="tg-navbar-top-settings-img" style="background: black"></div>
      </div>
    </div>
	</div>
	<div class="tg-navbar-left"> <!-- Left Nav -->
    <a href="#/home" class="active"><i class="fa fa-home"></i>Home</a>
    <a href="#/events"><i class="fa fa-bullhorn"></i>Events</a>
    <a href="#/resoruces" class=""><i class="fa fa-download"></i>Resources</a>
    <a href="#/products" class=""><i class="fa fa-dollar"></i>Products</a>
    <a href="#/profile"><i class="fa fa-bar-chart-o"></i>Profiles</a>
    <a href="#"><i class="fa fa-search"></i>Search</a>
  </div>
</div>
