<div class="container">
	<div class="row-fluid tg-navbar-top clearfix">
		<div class="span10 offset1">
                <a class="tg-navbar-top-logo" href="http://techgrind.asia"></a>
                <i class="fa fa-lock"></i>
                <div class="tg-navbar-top-settings">
                <i class="fa fa-bell"></i>
                <p>{{ user().notification }}24</p>
                <i class="fa fa-envelope"></i>
                <p>{{ user().mail }}8</p>
                  <div class="tg-navbar-top-settings-img" style="background: black"></div>
                </div>
        </div>
	</div>
	<div class="tg-navbar-left"> <!-- Left Nav -->
          <a href="../#/home"><i class="fa fa-home"></i></a>
          <a href="../#/events" class="active"><i class="fa fa-bullhorn"></i></a>
          <a href="../#/profile/people"><i class="fa fa-bar-chart-o"></i></a>
          <a href="#"><i class="fa fa-calendar"></i></a>
          <a href="#"><i class="fa fa-comment-o"></i></a>
          <a href="#"><i class="fa fa-calendar-o"></i></a>
          <a href="#"><i class="fa fa-gear"></i></a>
          <a href="#"><i class="fa fa-search"></i></a>
          <a href="#"><i class="fa fa-plus"></i></a>
          </div>
</div>
