<head>
  <!-- link rel="stylesheet" href="css/plugins/list_tableview.css"-->
</head>

<div class="container">
  <div class="row-fluid tg-navbar-main clearfix">
          <div class="tg-navbar-left-trigger-button" data-toggle="collapse" data-target=".tg-menu">
              <i class="fa fa-bars"><span>Events</span></i>
          </div>
          <div class="tg-navbar-right-trigger-button" data-toggle="collapse" data-target=".tg-tools">
              <i class="fa fa-wrench"></i>
          </div>    
  </div>
  <div class="row-fluid  tg-main-container">
    <div class="span10 offset1">
      <div class="widget">
        <div class="widget-body">
        <tabset class="unselectable">
          <tab heading="Events">
              <div ng-include="'partials/plugins/content_events.html'"></div>  
          </tab>
          <tab heading="Add Events">
              <div ng-include="'partials/plugins/widget_add_event.html'"></div> 
          </tab>
        </tabset>
        </div>
      </div>
    </div>
  </div>
</div>