<div class="container">
  <div class="row-fluid tg-navbar-main clearfix">
          <div class="tg-navbar-left-trigger-button" data-toggle="collapse" data-target=".tg-menu">
              <i class="fa fa-bars"><span>Home</span></i>
          </div>
          <div class="tg-navbar-right-trigger-button" data-toggle="collapse" data-target=".tg-tools">
              <i class="fa fa-wrench"></i>
          </div>    
  </div>
  <div class="row-fluid tg-main-container">
    <div class="span10 offset1">
        <tabset class="unselectable tg-maintabs">
          <tab heading="News">
              <div ng-include="'partials/plugins/content_articles.html'"></div>
          </tab>
          <tab heading="Discussion">
              <div ng-include="'partials/plugins/discussion_articles.html'"></div>  
          </tab>
          <tab heading="Search">
              <div ng-include="'partials/plugins/widget_search.html'"></div>  
          </tab>
          <tab heading="Full Discussion For Testing">
              <div ng-include="'partials/plugins/discussion_article_fullpage.html'"></div>  
          </tab>
        </tabset>
        </div>
  </div>

  <!-- debug -->
  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span10">
      <pre>{{ sexpr(data) }}</pre>
    </div>
  </div>

</div>