<html>
<head>
	<!-- Base CSS Files -->
    <link rel="stylesheet" href="css/bootplus.min.css">
    <link rel="stylesheet" href="css/bootplus-responsive.min.css">
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<!-- TechGrind CSS Files -->
	<link rel="stylesheet" href="css/responsive-navbar-left-test.css">
</head>
<body>

<div class="tg-navbar-left-mobile">
    <ul class=""> <!-- Left Nav -->
        <li ng-class="active('/home')" class="active"><a href="#/home"><i class="fa fa-home"></i><p>Home</p></a></li>
        <li ng-class="active('/events')" class=""><a href="#/events"><i class="fa fa-bullhorn"></i><p>Events</p></a></li>
        <li ng-class="active('/resources')" class="dropdown"><a><i class="fa fa-cloud-download"></i><p>Resources</p><b class="caret"></b></a>
        <ul ng-controller="MenuCtrl" class="dropdown-menu">
          <li ng-repeat="resource in resources" class="sub-menu"><a href="#/res-one"><i class="fa fa-cog"></i>resource-one</a></li>
          <li ng-repeat="resource in resources" class="sub-menu"><a href="#/res-two"><i class="fa fa-cog"></i>resource-two</a></li>
        </ul></li>
        <li ng-class="active('/products')" class=""><a href="#/products"><i class="fa fa-dollar"></i><p>Products</p></a></li>
        <li ng-class="active('/profiles')" class=""><a href="#/profiles"><i class="fa fa-bar-chart-o"></i><p>Profiles</p></a></li>
        <li class=""><a href="#"><i class="fa fa-search"></i><p>Search</p></a></li>
    </ul>
</div>
</body>
</html>